body{
       background-color: beige; 
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }

.nera{
     background-color:black;
}

.nave1{
    width: 100px;
    height: 100px;
}
.nave2{
    width: 200px;
    height: 100px;
}
.nave3{
    width: 300px;
    height: 100px;
}